%COPYRIGHT_LINE%

%MY_HEADER_INCLUDE_DIRECTIVE%

%ADDITIONAL_INCLUDE_DIRECTIVES%

#include UE_INLINE_GENERATED_CPP_BY_NAME(%UNPREFIXED_CLASS_NAME%)


%EVENTUAL_CONSTRUCTOR_DEFINITION%
%ADDITIONAL_MEMBER_DEFINITIONS%
